{% extends 'base.html' %}

{% block content %}

<form action="{{ url_for('login') }}" method="POST"  class="block-login" >
    <div class="form-group">
        <label for="username-input">Username</label>
        <input type="text" name="username" class="form-control" id="username-input" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password-input">Password</label>
        <input type="password" name="password" class="form-control" id="password-input" placeholder="Password">
    </div>
    <div style="text-align: center; margin-top: 10px">
        <button type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
        <a href="{{ url_for('register') }}">Create an account</a>
    </div>
</form>

{% endblock %}