{% extends 'base.html' %}

{% block content %}
    <h1>Notes</h1>
    <ul>
        {% if notes is not none %}
            {% for note in notes %}
                <li><a href="{{ url_for('note_detail', note_id=note.id) }}">{{ note.title }} {{ note.date_creat }}</a></li>
            {% endfor %}
        {% endif %}
    </ul>

    <button onclick="document.getElementById('add_note_form').style='display: block;'; document.getElementById('add_bt').style='display: none;'" id="add_bt">New</button>
    <form action="{{url_for('add_note')}}" method="POST" style="display: none;" id="add_note_form">
        <input type="text" placeholder="Title" name="title"> <br>
        <textarea name="details" id="" cols="30" rows="10" placeholder="Details"></textarea> <br>
        <input type="submit">
        <button type="button" onclick="document.getElementById('add_note_form').style='display: none;'; document.getElementById('add_bt').style='display: block;'">Сancel</button>
    </form>
{% endblock %}